body {
  color: black;
  background-color: rgb(238, 231, 229);
  font-family: sans-serif;
}

div {
    background-color: rgb(180, 175, 174);
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-image: initial;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    padding: 15px;
}

a {
  text-decoration: none;
  color: #000083FF;
  font-weight: bold;
}

#logo {
  width: 40%;
  border-radius: 50%
}

.img-standard {
  width: 150px;
  border-radius: 5px;
  border: solid 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
}

.inner-div-card {
  background-color: turquoise;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
}

.text-center {
  text-align: center;
}

.text-center {
  text-align: center;
}
